name: GitHub Profile Summary Cards

on:
  schedule: # Auto update daily
    - cron: "0 0 * * *"
  workflow_dispatch: # Allow manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: MarcJayce
          THEME: dracula   # optional, you can pick a theme like dracula, solarized, etc.
